.admin-bar .fixed-header .main-box,
.admin-bar .fixed-header {
	top:32px;
}
.kc_row .kc_col-sm-12{
	padding-left:0px !important;
	padding-right:0px !important; 
}
.kc-col-container {
	display:block !important;
}
.kc-row-container.kc-container{
	max-width:1200px;
	width:100%;
}

ul.column-2-list {
	clear:both;
}
ul.column-2-list li {
	float:left;
	width:50%;
}

.blog-sidebar.sidebar-widget ul {
    position:relative;
}
.blog-sidebar.sidebar-widget ul li {
	position:relative;
	border-bottom:1px solid #e6e6e6;
	margin-bottom:10px;
	color:#797979;
	font-size:15px;
	font-weight:600;
}
.blog-sidebar.sidebar-widget ul li a {
	position:relative;
	color:#797979;
	font-size:15px;
	font-weight:600;
	padding-bottom:10px;
	display:inline-block;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Lato', sans-serif;
}
.blog-sidebar.sidebar-widget ul li:last-child a {
	border-bottom:0px;
}
.blog-sidebar.sidebar-widget ul li:after {
	position:absolute;
	content:'\f105';
	right:0px;
	top:0px;
	color:#c8c8c8;
	font-size:14px;
	font-family: 'FontAwesome';
}
.blog-sidebar.sidebar-widget ul li a:hover {
	color:#cebb81;
}

.history-block .inner .text {
    position: relative;
    margin-bottom: 5px;
}

.history-block .inner img {
    position: relative;
    margin-top: 30px;
}
.main-header .nav-outer .search-box-outer .open .search-box-btn .fa-search::before {
    content: "\f00d" !important;
}
.gallery-section.fullwidth .gallery-item-two{
	min-height:280px;
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #333; 
		font-size: 14px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 14px;
	}
	#wp-calendar thead th { 
		padding: 8px;
		text-align:center;
		border:1px solid #f5f5f5;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #25baa9; 
		border: 1px solid #f5f5f5; 
		text-align: center; 
		color:#fff;
		padding:8px;
	}
	#wp-calendar tbody td a{
		color:#fff;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
		color:#333;
	}
	#wp-calendar tbody td:hover a{
		color:#333;
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 14px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 14px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .inner-box {background: #efefef; padding:10px; }
	.sticky .inner-box .thm-unit-test {border: 3px solid #fff; padding:20px !important; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Poppins', sans-serif;	
	}
	.bypostauthor{
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Poppins', sans-serif;		
	}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*************************************Theme Unit Testing***********************/

.thm-unit-test .tag-sticky-2 .news-block-three .inner-box .lower-content{
	background:#fafafa;
	padding:15px;
}
.thm-unit-test h1,.thm-unit-test h2,.thm-unit-test h3,.thm-unit-test h4,.thm-unit-test h5,.thm-unit-test h6{
	font-family: 'Poppins', sans-serif;
	line-height:1.2em;
	margin-bottom:18px;
	font-weight:600;
	color: #242424;
}
.thm-unit-test h2+h1+h2{
	margin:0 0 15px 0;
}
.thm-unit-test h1{
	font-size:2em;
}
.thm-unit-test h2{
	font-size:1.6em;
}
.thm-unit-test h3{
	font-size:1.4em;
}
.thm-unit-test h4,.thm-unit-test .text h4{
	font-size:1.2em;
}
.thm-unit-test h5{
	font-size:1.1em;
}
.thm-unit-test h6{
	font-size:1em;
}
.thm-unit-test table{
	margin-bottom:20px;
}
.thm-unit-test table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
}
.thm-unit-test table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test .text > ul,.thm-unit-test ol,.thm-unit-test > ul{
	padding-left:18px;
}
.thm-unit-test .text > ul li ul,.thm-unit-test .text > ul li ul li ul,
.thm-unit-test > ul li ul,.thm-unit-test > ul li ul li ul{
	padding-left:40px;
}
.thm-unit-test .text > ul li,
.thm-unit-test > ul li{
	list-style-type:disc;
	display:list-item;
}
.thm-unit-test .text > ul li ul li,
.thm-unit-test > ul li ul li{
	list-style-type:circle;
}
.thm-unit-test .text > ul li ul li ul li,
.thm-unit-test > ul li ul li ul li{
	list-style-type:square;
}
.thm-unit-test ol li{
	list-style-type:decimal;
	display:list-item;
}
.thm-unit-test ol li ol li{
	list-style-type:lower-alpha;
}
.thm-unit-test ol li ol li ol li{
	list-style-type:upper-roman;
}
.thm-unit-test p img,.thm-unit-test figure img,.thm-unit-test img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.paginate-links {
	margin-top: 25px;
}
.paginate-links a,
.paginate-links > span {
    margin: 0 5px 7px 0;
    position: relative;
	border: 1px solid #d2b871;
    color: #d2b871;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 44px;
    min-width: 46px;
	height:46px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}
.paginate-links a:hover,
.paginate-links > span{
	background: #d2b871 none repeat scroll 0 0;
    border-color: #d2b871;
    color: #ffffff;
}
/****************Custom Widget*********************/
.widget_recent_comments ul li{
	padding: 0px 0px 10px;
}
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul{
	padding-bottom:0px;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.blog-sidebar.sidebar-widget ul li ul li{
	border-bottom:none;
	border-top:1px solid #e6e6e6;
	margin-bottom:0px;
	margin-left:15px;
	padding-top:10px;
}
.blog-sidebar.sidebar-widget ul li ul li:after{
	top:10px;
}
.widget_nav_menu.blog-sidebar.sidebar-widget ul li:after{
	display:none;
}
.thm-unit-test .share-box ul{
	padding-left:0px !important;
}
.thm-unit-test .share-box ul li{
	list-style-type:none !important;
	display:inline-block !important;
}
.thm-unit-test .share-box ul li img{
	display:inline-block !important;
}
.post-password-form input[type="password"]{
	border:1px solid #d2b871;
	padding:5px 10px;
	display:inline-block;
}
.post-password-form input[type="submit"]{
	background:#d2b871;
	color:#fff;
	padding:6px 15px; 
	display:inline-block;
	border:none;
	
}
.thm-unit-test .review-box .fr-coment-item .fr-coment-item{
	margin-left:60px;
}
.thm-unit-test .review-box .fr-coment-item .name h4{
	font-size:18px;
}
.thm-unit-test .default-form .section-title h3{
	font-size:24px !important;
}
.thm-unit-test .post-comments.comment-area{
	margin-top:40px;
}
.blog-section .thm-unit-test > p{
	margin-bottom:15px;
}
/*********************Custom Footer widget Styling************************/
.footer-widget h3{
	margin-bottom:30px;
}
.footer-widget.widget_recent_comments ul li{
	padding: 0;
}
.footer-widget ul li a{
	padding:0px 0 10px;
}
.footer-widget ul li a,.footer-widget ul li,.footer-widget .textwidget p{
	color:#ffffff;
}
.footer-widget a{
	color:#fafafa;
}
.footer-widget select{
	width:100%;
	padding:6px;
	color:#222;
}
.footer-widget #wp-calendar caption{
	padding:0px;
	margin:0px 0 15px;
	font-size:14px;
	color:#ffffff;
}
.footer-widget #wp-calendar thead th{
	border:1px solid #fafafa;
	border-bottom:none;
	text-align:center;
	padding:0px;
	line-height:30px;
	color:#ffffff;
}
.footer-widget #wp-calendar tbody .pad{
	background:#fafafa;
}
.footer-widget .tagcloud a{
	color:#ffffff;
}
.sidebar-page-container .comments-area .comment.pingback,
.sidebar-page-container .comments-area .comment.trackback{
	padding-left:0px;
}
.sidebar-page-container .comments-area .comment.pingback .author-thumb,
.sidebar-page-container .comments-area .comment.trackback .author-thumb{
	display:none;
}
.no-comments{
	display:inline-block;
	background:#d2b871;
	padding:8px 15px;
	color:#ffffff;
	margin:25px 25px 0;
}
.blog-single .single-comment .comment-form{
	margin:25px;
}
.sidebar-page-container .single-comment .comment-form .group-title,
.sidebar-page-container .single-comment .comment-form .group-title h2{
	margin-bottom:0px;
}
.sidebar-page-container .single-comment .comment-form h2{
	font-size:22px;
}
.page .comment-form{
	margin-top:50px;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.lower-box .tags a{
	color:#777;
	text-transform:capitalize;
}
blockquote p{
	margin:0px !important;
}
.wp-caption-text{
	padding-top:10px;
}
.blog-single .comment-form{
	margin-top:50px;
}
.sidebar-title h2 a{
	color:#242424;
}
.blog-sidebar.sidebar-widget.widget_rss ul li{
	padding-bottom:15px;
	margin-bottom:15px;
}
.blog-sidebar.sidebar-widget ul li a{
	font-weight:600;
}
.footer-widget ul li ul li{
	margin-left:15px;
}
/*********************WP Gallery*********************/
.gallery figure{
	display:inline-block;
}

.gallery-columns-1,.gallery-columns-2,.gallery-columns-3,.gallery-columns-4,.gallery-columns-5,
.gallery-columns-6,.gallery-columns-7,.gallery-columns-8,.gallery-columns-9{
	margin-left:-15px;
	margin-right:-15px;
}
.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item{
	padding-left:15px;
	padding-right:15px;
}
.gallery-columns-1 .gallery-item{
	width:100%;
}
.gallery-columns-2 .gallery-item{
	width:50%;
}
.gallery-columns-3 .gallery-item{
	width: 33.33333333%;
}
.gallery-columns-4 .gallery-item{
	width: 25%;
}
.gallery-columns-5 .gallery-item{
	width: 20%;
}
.gallery-columns-6 .gallery-item{
	width:16.66666666%;
}
.gallery-columns-7 .gallery-item{
	width: 14.2857143%;
}
.gallery-columns-8 .gallery-item{
	width: 12.5%;
}
.gallery-columns-9 .gallery-item{
	width: 11.11111111%;
}

/************************** Widget Rss*****************************/
.widget_rss.widget ul li,
.widget_rss.footer-widget ul li{
	margin-bottom:15px;
	padding-bottom:15px;
	padding-left:0px;
}
.widget_rss.widget ul li:after,
.widget_rss.footer-widget ul li:after{
	display:none;
}
.widget_rss.widget ul li a,
.widget_rss.footer-widget ul li a{
	font-weight:600;
}
.widget_rss.widget ul li .rss-date,
.widget_rss.footer-widget ul li .rss-date{
	color:#55b6c7;
	display:block;
	margin:0 0 10px 0;
}
.widget_rss.footer-widget ul li .rss-date{
	color:#fafafa;
}
.widget_rss.widget ul li:before{
	display:none;
}
.widget_rss.widget ul li .rssSummary{
	font-size:14px;
}
.widget_rss.widget ul li cite,
.widget_rss.footer-widget ul li cite{
	color:#55b6c7;
	display:block;
	font-size:14px;
	margin-top:10px;
}
.widget_rss.footer-widget ul li cite{
	color:#fafafa;
}
.widget_rss.footer-widget ul li{
	border-bottom:1px dashed #fafafa;
}
.widget_rss.footer-widget ul li .rss-date{
	margin-top:10px;
}
.wp-block-pullquote p{
	font-size:16px;
	color:#777;
}
.page-wrapper{
	overflow:hidden;
}